<div class="container">
    <div class="table-container">
        <h5>Práctica de tecnología consciente</h5>
        <table>
            <thead>
                <tr>
                    <th>Criterios existentes</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Criterio de tecnología consciente</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
                <tr>
                    <td>Buena práctica en salud ocupacional</td>
                    <td class="not-acceptable">No aceptable</td>
                </tr>
                <tr>
                    <td>Manejo de datos TIC</td>
                    <td class="acceptable-conditions">Aceptable con condiciones</td>
                </tr>
                <tr>
                    <td>Criterio de cultura organizacional</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
                <tr>
                    <td>Criterio de legalidad y documentación</td>
                    <td class="not-acceptable">No aceptable</td>
                </tr>
                <tr>
                    <td>Criterio de jerarquías</td>
                    <td class="acceptable-conditions">Aceptable con condiciones</td>
                </tr>
                <tr>
                    <td>Recursos humanos ISO</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
                <tr>
                    <td>Documentaciones</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container2">
        <h5>Práctica de tecnología consciente</h5>
        <table>
            <thead>
                <tr>
                    <th>Criterios existentes</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Criterio de tecnología consciente</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
                <tr>
                    <td>Buena práctica en salud ocupacional</td>
                    <td class="not-acceptable">No aceptable</td>
                </tr>
                <tr>
                    <td>Manejo de datos TIC</td>
                    <td class="acceptable-conditions">Aceptable con condiciones</td>
                </tr>
                <tr>
                    <td>Criterio de cultura organizacional</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
                <tr>
                    <td>Criterio de legalidad y documentación</td>
                    <td class="not-acceptable">No aceptable</td>
                </tr>
                <tr>
                    <td>Criterio de jerarquías</td>
                    <td class="acceptable-conditions">Aceptable con condiciones</td>
                </tr>
                <tr>
                    <td>Recursos humanos ISO</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
                <tr>
                    <td>Documentaciones</td>
                    <td class="acceptable">Aceptable</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
