body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.fuse-vertical-navigation-item {
    transition: background-color 0.3s ease-in-out !important;
    color: white !important;
    border-radius: 15px !important;
    margin-top: 2px;
}

.fuse-vertical-navigation-item:hover {
    background-color: white !important;
    color: #2D3480 !important;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2D3580;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 15%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: border-radius 0.3s ease;
}

.large-icon{
    font-size: 46px;
    width: 45px;
    height: 45px;
    color: white;
}

.internos{
    color: #2D3580 !important;
}

.custom-menu{
    border-radius: 20px 20px 0px 20px !important;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 400px;
    max-width: 90%;
}

h2 {
    color: #24197a;
    text-align: left;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #24197a;
    margin-bottom: 8px;
}

label span {
    color: red;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #24197a;
    box-sizing: border-box;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #24197a;
}

textarea {
    resize: none;
    height: 100px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn.cancel {
    background-color: #f1c40f;
    color: white;
    transition: background-color 0.3s ease;
}

.btn.cancel:hover {
    background-color: #d4ac0d;
}

.btn.create {
    background-color: #1e3a8a;
    color: white;
    transition: background-color 0.3s ease;
    margin-right: 730px;
}

.btn.create:hover {
    background-color: #16326e;
}

.form-group-inline {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.form-group-inline .form-group {
    flex: 1;
}

.form-group-inline .form-group select,
.form-group-inline .form-group input {
    width: 100%;
}
