<div class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start">
    <div class="relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-gray-0 p-16 dark:border-r md:flex lg:px-28">

        <img src="images/login/fondo-bbp-login.svg" alt="Fondo BBP Login" class="absolute inset-0 w-full h-full object-cover">

    </div>
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-center md:rounded-none md:p-6 md:shadow-none">
        <div class="mx-auto w-full max-w-120 sm:mx-0 sm:w-96 space-login">
            <!-- Logo -->
            <div>
                <img src="images/login/LogoCGRhorizontal.png" />
            </div>

            <!-- Title -->
            <div class="mt-7 text-6xl font-bold leading-tight tracking-tight text-center">
                Iniciar Sesión
            </div>
            <fuse-alert
                *ngIf="alert"
                class="mt-4"
                [type]="alert.type">
                {{ alert.message }}
            </fuse-alert>
            <!-- Alert -->
            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" (ngSubmit)="signIn()">
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label class="font-bold">Usuario</mat-label>
                    <input id="sAMAccountName" matInput formControlName="sAMAccountName" />
                    <mat-error *ngIf="signInForm.get('sAMAccountName')?.hasError('required')">
                        Se requiere Usuario
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('sAMAccountName')?.hasError('sAMAccountName')">
                        Por favor, introduce un Usuario válido
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label class="font-bold">Contraseña</mat-label>
                    <input id="password" matInput type="password" formControlName="password" />
                    <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
                        Contraseña requerida
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-6 w-full"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.invalid"
                >
                    Ingresar
                </button>
            </form>

        </div>
    </div>
</div>
