<div class="container">
    <h1>Catalogar</h1>
</div>

<button class="floating-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="heroicons_outline:clipboard-document-list" class="large-icon"></mat-icon>
</button>

<mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item>
        <mat-icon class="internos">account_circle</mat-icon>
        <span class="internos">Usuarios</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">supervisor_account</mat-icon>
        <span class="internos">Roles y permisos</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">settings</mat-icon>
        <span class="internos">Criterios de caracterización</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">list</mat-icon>
        <span class="internos">Criterios por catalogar</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">check_circle</mat-icon>
        <span class="internos">Criterios de evaluación</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">visibility</mat-icon>
        <span class="internos">Criterios de seguimiento</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="heroicons_outline:arrows-up-down" class="internos"></mat-icon>
        <span class="internos">Criterios de publicación</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="heroicons_outline:arrow-trending-up" class="internos"></mat-icon>
        <span class="internos">Workflow</span>
    </button>
</mat-menu>

<button class="floating-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="heroicons_outline:clipboard-document-list" class="large-icon"></mat-icon>
</button>

<mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item>
        <mat-icon class="internos">account_circle</mat-icon>
        <span class="internos">Usuarios</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">supervisor_account</mat-icon>
        <span class="internos">Roles y permisos</span>
    </button>
    <button mat-menu-item [routerLink]="'/options/characterization'">
        <mat-icon class="internos">settings</mat-icon>
        <span class="internos">Criterios de caracterización</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">list</mat-icon>
        <span class="internos">Criterios por catalogar</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">check_circle</mat-icon>
        <span class="internos">Criterios de evaluación</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">visibility</mat-icon>
        <span class="internos">Criterios de seguimiento</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="heroicons_outline:arrows-up-down" class="internos"></mat-icon>
        <span class="internos">Criterios de publicación</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="heroicons_outline:arrow-trending-up" class="internos"></mat-icon>
        <span class="internos">Workflow</span>
    </button>
</mat-menu>
