<div class="container">
    <div class="min-w-0 flex-1">
    <!-- Title -->
    <div class="mt-2">
        <h1>
            Hoja de Vida
        </h1>
    </div>

<!-- Main -->
<div class="flex-auto p-6 sm:p-10">

    <form [formGroup]="horizontalStepperForm.get('newFields')" class="filters-form" style="display: flex; gap: 16px;">
        <!-- Campo de texto -->
        <mat-form-field appearance="fill" class="filters-field rounded-2xl" style="flex: 1;">
            <mat-label>Nombre de la práctica</mat-label>
            <input matInput formControlName="nombrePractica" />
            <mat-error *ngIf="horizontalStepperForm.get('newFields.nombrePractica')?.hasError('required')">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>

        <!-- Select para Identificación -->
        <mat-form-field appearance="fill" class="filters-field rounded-2xl" style="flex: 1;">
            <mat-label>Identificación</mat-label>
            <mat-select formControlName="identificacion">
                <mat-option value="opcion1">Opción 1</mat-option>
                <mat-option value="opcion2">Opción 2</mat-option>
                <mat-option value="opcion3">Opción 3</mat-option>
            </mat-select>
            <mat-error *ngIf="horizontalStepperForm.get('newFields.identificacion')?.hasError('required')">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>

        <!-- Select para Contenido -->
        <mat-form-field appearance="fill" class="filters-field rounded-2xl" style="flex: 1;">
            <mat-label>Contenido</mat-label>
            <mat-select formControlName="contenido">
                <mat-option value="contenido1">Contenido 1</mat-option>
                <mat-option value="contenido2">Contenido 2</mat-option>
                <mat-option value="contenido3">Contenido 3</mat-option>
            </mat-select>
            <mat-error *ngIf="horizontalStepperForm.get('newFields.contenido')?.hasError('required')">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>
    </form>

<div class="max-w-3x">
    <!-- Horizontal stepper -->
    <form
        class="bg-transparent overflow-hidden rounded p-4"
        [formGroup]="horizontalStepperForm"
    >
        <mat-horizontal-stepper [linear]="true" #horizontalStepper>
            <mat-step
                [formGroupName]="'step1'"
                [stepControl]="horizontalStepperForm.get('step1')"
                #horizontalStepperStep1
            >
                <ng-template matStepLabel
                    >Fecha de diligenciamiento</ng-template
                >
                <div class="flex">
                    <mat-form-field
                        class="flex-auto"
                        appearance="fill"
                    >
                        <mat-datepicker-toggle
                            matPrefix
                            [for]="picker2"
                        ></mat-datepicker-toggle>

                        <input
                            matInput
                            [matDatepicker]="picker2"
                        />
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="gt-xs:flex-row flex flex-col">
                    <mat-form-field class="gt-xs:pr-3 flex-auto w-full" appearance="fill">
                        <input
                            matInput
                            placeholder="Nombre de la entidad"
                            formControlName="nombreEntidad"
                            type="text"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:map-pin'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="gt-xs:pl-3 flex-auto w-full" appearance="fill">
                        <input
                            matInput
                            placeholder="Nombre de la dependencia"
                            formControlName="nombreDependencia"
                            type="text"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:language'"
                        ></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex justify-end">
                    <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        matStepperNext
                    >
                        Siguiente
                    </button>
                </div>
            </mat-step>

            <mat-step
                [formGroupName]="'step2'"
                [stepControl]="horizontalStepperForm.get('step2')"
                #horizontalStepperStep2
            >
                <ng-template matStepLabel>Fuente (Proponente)</ng-template>
                <p class="my-6 font-medium">
                    Por favor, proporciona la información de contacto del proponente.
                </p>
                <div class="gt-xs:flex-row flex flex-col">
                    <mat-form-field class="gt-xs:pr-3 flex-auto w-full" appearance="fill">
                        <input
                            matInput
                            [formControlName]="'nombre'"
                            placeholder="Nombre"
                            type="text"
                            maxlength="50"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="gt-xs:pl-3 flex-auto w-full" appearance="fill">
                        <input
                            matInput
                            [formControlName]="'cargo'"
                            placeholder="Cargo"
                            type="text"
                            maxlength="50"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:briefcase'"
                        ></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto w-full" appearance="fill">
                        <input
                            matInput
                            [formControlName]="'correoElectronico'"
                            placeholder="Correo electrónico"
                            type="email"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:envelope'"
                        ></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto w-full" appearance="fill">
                        <input
                            matInput
                            [formControlName]="'contacto'"
                            placeholder="Contacto"
                            type="number"
                            maxlength="10"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:phone'"
                        ></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex justify-end">
                    <button
                        class="mr-2 px-8"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        matStepperPrevious
                    >
                        Back
                    </button>
                    <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        matStepperNext
                    >
                    Siguiente
                    </button>
                </div>
            </mat-step>

            <mat-step
                [formGroupName]="'step3'"
                [stepControl]="horizontalStepperForm.get('step3')"
            >
                <ng-template matStepLabel>Trámite registro</ng-template>
                <p class="my-6 font-medium">
                    Por favor, complete los detalles de la buena práctica.
                </p>
                <div class="gt-sm:flex-row flex flex-col">
                    <div class="flex flex-col">
                        <mat-form-field class="flex-auto">
                            <mat-label>Tipo de estrategia de identificación</mat-label>
                            <mat-select formControlName="tipoEstrategia">
                                <mat-option value="interna">Identificación interna</mat-option>
                                <mat-option value="indagacion">Identificación por indagación</mat-option>
                                <mat-option value="asesoria">Identificación por asesoría</mat-option>
                                <mat-option value="campañas">Identificación por campañas temáticas</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div
                        class="flex"
                    >
                    <mat-form-field class="flex-auto">
                        <mat-label>Tipo de práctica</mat-label>
                        <mat-select formControlName="tipoPractica" (selectionChange)="onPracticaChange($event)">
                            <mat-option value="BP">Buena Práctica - BP (Candidata)</mat-option>
                            <mat-option value="MP">Mala Práctica - MP (Candidata)</mat-option>
                            <mat-option value="IS">Ideas y Soluciones - IS (Candidata)</mat-option>
                            <mat-option value="PE">Práctica Estándar - PE (Candidata)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>
                    <mat-form-field class="flex-auto">
                        <mat-label>Código de la práctica</mat-label>
                        <input matInput formControlName="codigoPractica" readonly />
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Tipología</mat-label>
                        <mat-select formControlName="tipologia">
                            <mat-option value="gestion_conocimiento">Gestión del Conocimiento e Innovación</mat-option>
                            <mat-option value="servicio_ciudadano">Servicio al Ciudadano</mat-option>
                            <mat-option value="planeacion_estrategica">Planeación Estratégica</mat-option>
                            <mat-option value="gestion_financiera">Gestión Financiera y Presupuestal</mat-option>
                            <mat-option value="gestion_talento">Gestión del Talento Humano</mat-option>
                            <mat-option value="gestion_ambiental">Gestión Ambiental y Sostenibilidad</mat-option>
                            <mat-option value="gestion_transparencia">Gestión de la Transparencia y Rendición de Cuentas</mat-option>
                            <mat-option value="innovacion_tecnologica">Innovación Tecnológica y Transformación Digital</mat-option>
                            <mat-option value="gestion_riesgo">Gestión del Riesgo y Continuidad Operativa</mat-option>
                            <mat-option value="gestion_proyectos">Gestión de Proyectos</mat-option>
                            <mat-option value="inclusion_social">Inclusión y Participación Social</mat-option>
                            <mat-option value="eficiencia_operativa">Eficiencia Operativa y Simplificación de Procesos</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Nivel de la buena práctica</mat-label>
                        <mat-select formControlName="nivelBuenaPractica">
                            <mat-option value="nivel1">Primer nivel (aprendizaje y ejemplos)</mat-option>
                            <mat-option value="nivel2">Segundo nivel (resultados concretos)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Nombre descriptivo de la buena práctica</mat-label>
                        <input matInput formControlName="nombrePractica" maxlength="100" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Propósito de la práctica</mat-label>
                        <textarea
                            matInput
                            formControlName="propositoPractica"
                            maxlength="300"
                            rows="3"
                        ></textarea>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Objetivo principal de la práctica</mat-label>
                        <mat-select formControlName="objetivoPrincipal">
                            <mat-option value="mejorar_eficiencia">Mejorar eficiencia operativa</mat-option>
                            <mat-option value="incrementar_satisfaccion">Incrementar satisfacción del cliente</mat-option>
                            <mat-option value="optimizar_recursos">Optimizar el uso de recursos</mat-option>
                            <mat-option value="reducir_costos">Reducir costos</mat-option>
                            <mat-option value="mejorar_calidad">Mejorar la calidad del producto/servicio</mat-option>
                            <mat-option value="fomentar_innovacion">Fomentar la innovación</mat-option>
                            <mat-option value="aumentar_compromiso">Aumentar el compromiso del personal</mat-option>
                            <mat-option value="otra_cual">Otra/Cuál</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mt-8 flex justify-end">
                    <button
                        class="mr-2 px-8"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        matStepperPrevious
                    >
                        Back
                    </button>
                    <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        matStepperNext
                    >
                    Siguiente
                    </button>
                </div>
            </mat-step>
    <mat-step
                [formGroupName]="'step4'"
                [stepControl]="horizontalStepperForm.get('step4')"
            >
                <ng-template matStepLabel>Caracterización</ng-template>
                <p class="my-6 font-medium">
                    Por favor, complete los datos de la Caracterización.
                </p>
                <div class="gt-sm:flex-row flex flex-col">
                    <mat-form-field class="flex-auto">
                        <mat-label>Impacto esperado</mat-label>
                        <mat-select formControlName="impactoEsperado" multiple>
                            <mat-option value="aumento_productividad">Aumento de la productividad</mat-option>
                            <mat-option value="reduccion_tiempos">Reducción de tiempos de ejecución</mat-option>
                            <mat-option value="mejoras_calidad_servicio">Mejoras en la calidad del servicio</mat-option>
                            <mat-option value="mejora_toma_decisiones">Mejora en la toma de decisiones</mat-option>
                            <mat-option value="reduccion_desperdicios">Reducción de desperdicios</mat-option>
                            <mat-option value="aumento_seguridad">Aumento de la seguridad</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Metodología usada</mat-label>
                        <textarea
                            matInput
                            formControlName="metodologiaUsada"
                            rows="5"
                            maxlength="500"
                            placeholder="Describe brevemente la metodología usada (máx. 500 caracteres)"
                        ></textarea>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Duración de la implementación</mat-label>
                        <mat-select formControlName="duracionImplementacion">
                            <mat-option value="menos_3_meses">Menos de 3 meses</mat-option>
                            <mat-option value="3_6_meses">3-6 meses</mat-option>
                            <mat-option value="6_12_meses">6-12 meses</mat-option>
                            <mat-option value="mas_12_meses">Más de 12 meses</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Etapas de la metodología</mat-label>
                        <mat-select formControlName="etapasMetodologia" multiple>
                            <mat-option value="diagnostico_analisis">Diagnóstico y análisis</mat-option>
                            <mat-option value="diseno_solucion">Diseño de la solución</mat-option>
                            <mat-option value="implementacion">Implementación</mat-option>
                            <mat-option value="evaluacion_ajustes">Evaluación y ajustes</mat-option>
                            <mat-option value="monitoreo_seguimiento">Monitoreo y seguimiento</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div formGroupName="periodoDesarrollo" class="flex flex-col gap-4">
                        <mat-form-field class="flex-auto">
                            <mat-label>Inicio</mat-label>
                            <input matInput [matDatepicker]="inicioPicker" formControlName="inicio">
                            <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
                            <mat-datepicker #inicioPicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <mat-label>Fin</mat-label>
                            <input matInput [matDatepicker]="finPicker" formControlName="fin">
                            <mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle>
                            <mat-datepicker #finPicker></mat-datepicker>
                            <mat-error *ngIf="horizontalStepperForm.get('step4.periodoDesarrollo.fin').hasError('invalidDate')">
                                La fecha de fin no puede ser anterior a la fecha de inicio.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mt-8 flex justify-end">
                    <button
                        class="mr-2 px-8"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        matStepperPrevious
                    >
                        Back
                    </button>
                    <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        matStepperNext
                    >
                    Siguiente
                    </button>
                </div>
            </mat-step>


            <mat-step
                [formGroupName]="'step4'"
                [stepControl]="horizontalStepperForm.get('step4')"
            >
                <ng-template matStepLabel>Gestión</ng-template>
                <p class="my-6 font-medium">
                    Por favor, complete los datos de la Gestión.
                </p>
                <div class="gt-sm:flex-row flex flex-col">
                    <mat-form-field class="flex-auto">
                        <mat-label>Tipo de material producido</mat-label>
                        <mat-select formControlName="tipoMaterialProducido" multiple>
                            <mat-option value="guias">Guías</mat-option>
                            <mat-option value="manuales">Manuales</mat-option>
                            <mat-option value="directrices">Directrices</mat-option>
                            <mat-option value="fichas_tecnicas">Fichas técnicas</mat-option>
                            <mat-option value="carteles">Carteles</mat-option>
                            <mat-option value="fotografias">Fotografías</mat-option>
                            <mat-option value="videos">Videos</mat-option>
                            <mat-option value="audios">Audios</mat-option>
                            <mat-option value="otros">Otros</mat-option>
                            <mat-option value="no_aplica">No aplica</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Apoyo recibido</mat-label>
                        <mat-select formControlName="apoyoRecibido" multiple>
                            <mat-option value="no_aplica">No aplica (no se recibió apoyo)</mat-option>
                            <mat-option value="apoyo_financiero">Apoyo financiero</mat-option>
                            <mat-option value="asistencia_tecnica">Asistencia técnica</mat-option>
                            <mat-option value="donacion_insumos">Donación de insumos</mat-option>
                            <mat-option value="colaboracion_institucional">Colaboración institucional</mat-option>
                            <mat-option value="otro_apoyo">Otro tipo de apoyo (especificar)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Reconocimientos nacionales o internacionales</mat-label>
                        <mat-select formControlName="reconocimientos">
                            <mat-option value="no">No</mat-option>
                            <mat-option value="si">Sí</mat-option>
                            <mat-option value="no_aplica">No aplica</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Objeto de control (OC)</mat-label>
                        <mat-select formControlName="objetoControl">
                            <mat-option value="gestion_administrativa">Gestión Administrativa y Organizacional</mat-option>
                            <mat-option value="gestion_financiera">Gestión Financiera</mat-option>
                            <mat-option value="gestion_conocimiento">Gestión del Conocimiento e Innovación</mat-option>
                            <mat-option value="gestion_recursos_humanos">Gestión de Recursos Humanos</mat-option>
                            <mat-option value="gestion_ambiental">Gestión Ambiental</mat-option>
                            <mat-option value="servicios_ciudadano">Servicios al Ciudadano</mat-option>
                            <mat-option value="gestion_seguridad_riesgos">Gestión de Seguridad y Riesgos</mat-option>
                            <mat-option value="gestion_tecnologia">Gestión de Tecnología e Innovación Digital</mat-option>
                            <mat-option value="participacion_transparencia">Participación y Transparencia</mat-option>
                            <mat-option value="gestion_resultados">Gestión de Resultados</mat-option>
                            <mat-option value="gestion_interinstitucional">Gestión Interinstitucional y Alianzas</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div formGroupName="periodoDesarrollo" class="flex flex-col gap-4">
                        <mat-form-field class="flex-auto">
                            <mat-label>Taxonomía del Evento</mat-label>
                            <mat-select formControlName="taxonomiaEvento" multiple>
                                <mat-option value="iso_9001">ISO 9001: Sistemas de gestión de la calidad</mat-option>
                                <mat-option value="efqm">EFQM: Modelo europeo de excelencia en la gestión</mat-option>
                                <mat-option value="iso_14001">ISO 14001: Sistemas de gestión ambiental</mat-option>
                                <mat-option value="iso_50001">ISO 50001: Gestión de la energía</mat-option>
                                <mat-option value="iso_56002">ISO 56002: Sistema de gestión de la innovación</mat-option>
                                <mat-option value="oecd_guidelines">OECD Guidelines for Innovation in Public Sector</mat-option>
                                <mat-option value="iso_37001">ISO 37001: Gestión antisoborno</mat-option>
                                <mat-option value="iso_37301">ISO 37301: Gestión de cumplimiento normativo</mat-option>
                                <mat-option value="iso_30401">ISO 30401: Gestión del conocimiento</mat-option>
                                <mat-option value="apqc">APQC: Modelos de madurez en gestión del conocimiento</mat-option>
                                <mat-option value="iso_26000">ISO 26000: Responsabilidad social</mat-option>
                                <mat-option value="gri">GRI: Estándares para reportes de sostenibilidad</mat-option>
                                <mat-option value="iso_31000">ISO 31000: Gestión de riesgos</mat-option>
                                <mat-option value="coso_erm">COSO ERM: Marco integrado para la gestión de riesgos</mat-option>
                                <mat-option value="pmi_pmbok">PMI PMBOK: Guía de los Fundamentos para la Dirección de Proyectos</mat-option>
                                <mat-option value="prince2">PRINCE2: Gestión de proyectos basada en procesos</mat-option>
                                <mat-option value="open_data_charter">Open Data Charter: Principios para datos abiertos</mat-option>
                                <mat-option value="iso_27001">ISO 27001: Gestión de la seguridad de la información</mat-option>
                                <mat-option value="wcag">WCAG: Directrices para la accesibilidad de contenido web</mat-option>
                                <mat-option value="iso_9241_11">ISO 9241-11: Ergonomía de interacción humano-sistema</mat-option>
                                <mat-option value="damas">DAMAS: Data Management Association Standards</mat-option>
                                <mat-option value="togaf">TOGAF: The Open Group Architecture Framework</mat-option>
                                <mat-option value="mipg">Modelo Integrado de Planeación y Gestión (MIPG)</mat-option>
                                <mat-option value="ley_1712">Ley 1712 de 2014 (Ley de Transparencia)</mat-option>
                                <mat-option value="estrategias_gobierno_digital">Estrategias de Gobierno Digital</mat-option>
                                <mat-option value="normas_calidad_gestion_publica">Normas de Calidad en la Gestión Pública</mat-option>
                                <mat-option value="premio_nacional">Premio Nacional de Alta Gerencia (PNAG)</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <mat-label>Tipo de actuación</mat-label>
                            <mat-select formControlName="tipoActuacion">
                                <mat-option value="preventiva">Preventiva</mat-option>
                                <mat-option value="correctiva">Correctiva</mat-option>
                                <mat-option value="innovadora">Innovadora</mat-option>
                                <mat-option value="mantenimiento">De Mantenimiento</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="flex-auto">
                            <mat-label>Descripción de resultados</mat-label>
                            <textarea matInput formControlName="descripcionResultados" rows="5"></textarea>
                        </mat-form-field>

                    </div>
                </div>
                <div class="mt-8 flex justify-end">
                    <button
                        class="mr-2 px-8"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        matStepperPrevious
                    >
                        Atras
                    </button>
                    <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        matStepperNext
                    >
                    Siguiente
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>
</div>
    </div>
</div>
