<style>
    .fuse-vertical-navigation-item {
        transition: background-color 0.3s ease-in-out !important;

        color: white !important;
        border-radius: 15px !important;
        margin-top: 2px !important;

    }

    .fuse-vertical-navigation-item:hover {
        background-color: white !important;
        color: #2D3480 !important;
    }
</style>

<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
    </div>
</div>
