body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #24197A;
}

.table-container {
    overflow-x: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.7);
    border: 1px solid #ccc;
    background-color: #fff;
}

.table-container2 {
    overflow-x: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.7);
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 20px;
}


h5{
    margin-left: 25px;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #24197A;
}

h1{
    margin-right: 750px;
    font-weight: bold;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

thead th {
    background-color: #e0e0e0;
    text-align: left;
    padding: 15px;
    color: #333;
    font-weight: 600;
}

tbody td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:#24197A
}

tbody tr:last-child td {
    border-bottom: none;
}

.acceptable {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.not-acceptable {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.acceptable-conditions {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

table tbody tr:hover {
    background-color: #f9f9f9;
}

td{
    text-decoration: underline;
}

.fuse-vertical-navigation-item {
    transition: background-color 0.3s ease-in-out !important;
    color: white !important;
    border-radius: 15px !important;
    margin-top: 2px;
}

.fuse-vertical-navigation-item:hover {
    background-color: white !important;
    color: #2D3480 !important;
}
